{% load static %}

<div class="club-card-wrapper">
  <img src="{{ club.main_image.image.url }}" class="img-fluid club-card-image">
  <p class="club-name">{{ club.name|truncatechars:10 }}</p>
  <div class="rating-wrapper">
		{% for _ in club.full_star_inds %}
		<div class="col-1 col-md-1 col-xl-1">
			<img src="{% static 'img/star_full.png' %}" class="star img-fluid">
		</div>
		{% endfor %}

		{% for _ in club.empty_star_inds %}
			<div class="col-1 col-md-1 col-xl-1">
				<img src="{% static 'img/star_empty.png' %}" class="star img-fluid">
			</div>
		{% endfor %}
  </div>

  <div class="address-wrapper">
    <div class="col-1 col-md-1 col-xl-1">
        <img src="{% static 'img/location.png' %}" alt="addr" class="img-fluid">
    </div>
    <p class="club-location-text">{{ club.contact.address|truncatechars_html:20 }}</p>
	</div>

	<div class="cash-wrapper">
    <div class="col-1 col-md-1 col-xl-1">
        <img src="{% static 'img/cash.png' %}" alt="addr" class="img-fluid">
    </div>
		<p class="club-price-text">{{ club.price|truncatechars_html:20 }}</p>
	</div>

	<div class="more-button-wrapper">
		<a href="{% url 'club:club_details' club.pk %}" style="width: 100%; display: flex; justify-content: center; padding: 0; margin: 0; text-decoration: none;">
			<button class="more-button">
				Подробнее
			</button>
		</a>
	</div>
</div>
