{% load static %}

<div class="content-section">
  <p class="content-title">Контактные данные</p>
  <div class="content-bar">
    <div class="contact-option">
      <img src="{% static 'img/location.png' %}" alt="addr" class="contact-option-icon">
      <p class="contact-option-text">{{ club.contact.address }}</p>
    </div>
    
    <div class="contact-option">
      <img src="{% static 'img/phone.png' %}" alt="phone" class="contact-option-icon">
      <p class="contact-option-text">{{ club.contact.phone_number }}</p>
    </div>

    <div class="contact-option">
      <img src="{% static 'img/email.png' %}" alt="email" class="contact-option-icon">
      <p class="contact-option-text">{{ club.contact.email }}</p>
    </div>
  </div>
</div>
