{% load static %}

<div class="content-section">
  <p class="content-title">Контактные данные</p>
  <div class="content-bar">
    <div class="contact-option">
      <img src="{% static 'img/location.png' %}" alt="addr" class="contact-option-icon">
      <p class="contact-option-text">{{ club.contact.address }}</p>
    </div>
    
    <div class="contact-option">
      <img src="{% static 'img/phone.png' %}" alt="phone" class="contact-option-icon">
      <p class="contact-option-text">{{ club.contact.phone_number }}</p>
    </div>

    <div class="contact-option">
      <img src="{% static 'img/email.png' %}" alt="email" class="contact-option-icon">
      <p class="contact-option-text">{{ club.contact.email }}</p>
    </div>
  </div>
</div>

<style>
  .contact-option {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;

    gap: 1rem;
    white-space: nowrap;
    overflow: hidden;
  }

  .contact-option-icon {
    width: 26px;
    height: 26px;

    padding: 0;
    margin: 0;
  }

  .contact-option-text {
    font-family: Inter, sans-serif;

    font-weight: 400;
    font-size: calc(0.675rem + 0.4vw);
  }
</style>