{% load static %}

<div class="content-section" id="content-section">
  <p class="content-title">Отзывы</p>
  <div class="row">
    {% for feedback in feedbacks %}
      <div class="col-7 col-md-5 col-xl-5">
        <div class="feedback-bar">  
          <div class="name-and-date-wrapper">
            <p class="feedback-name">{{ feedback.name }}</p>
            <p class="feedback-date">{{ feedback.date }}</p>
          </div>

          <div class="rating-container">
            {% for _ in feedback.full_star_inds %}
              <img src="{% static 'img/star_full.png' %}" class="star-img">
            {% endfor %}
        
            {% for _ in feedback.empty_star_inds %}
                <img src="{% static 'img/star_empty.png' %}" class="star-img">
            {% endfor %}
          </div>

          <p class="feedback-text">{{ feedback.text }}</p>
        </div>
      </div>
    {% empty %}
      <p class="no-feedback">Станьте первым!</p>
    {% endfor %}  
  </div>
  <button class="create-feedback-btn" id="create-feedback-btn">Оставить отзыв</button>
</div>
