{% load static %}

<div class="image-container">
  <img src="{{ main_image_url }}" id="image" class="img-fluid image">
  <button data-left-button class="left-button">
    <img data-left-img src="{% static 'img/left_arrow_for_image.png' %}" alt="<-" class="arrow-img">
  </button>
  <button class="right-button">
    <img data-right-img src="{% static 'img/right_arrow_for_image.png' %}" alt="->" class="arrow-img">
  </button>
</div>

<script>
  let CLUB_DETAILS = "{% url 'club:club_details' pk %}"
</script>
<script src="{% static 'js/includes/images_viewer.js' %}"></script>
