{% load static %}

<div class="content-section-wrapper">
  <p class="content-title">Цены</p>
  <div class="content-section">
    <div class="content">
      <img src="{% static 'img/cash.png' %}" class="cash-icon">
      <p class="content-text">
        {{ club.price }}
      </p>
    </div>

    <style>
      .content-title {
        font-family: Inter, sans-serif;
        font-weight: 700;

        font-size: calc(1.25rem + 0.8vw);

        padding: 0;
        margin: 0;
      }

      .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        gap: 1rem;
      }

      .content-text {
        font-family: Inter, sans-serif;

        font-weight: 400;
        font-size: calc(0.675rem + 0.4vw);

        display: flex;
        align-items: center;
        justify-content: center;
        
        margin: 0;
        padding: 0;
      }

      .cash-icon {
        width: 30px;
        height: 30px;
      }
    </style>
  </div>
</div>
