{% extends 'base.html' %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/includes/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/club/club_details.css' %}">
  <script src="{% static 'js/club/club_details.js' %}"></script>
  <script src="{% static 'js/includes/booking.js' %}"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="{% static 'css/includes/booking.css' %}">
  <link rel="stylesheet" href="{% static 'css/includes/club_description_section.css' %}">
  <link rel="stylesheet" href="{% static 'css/includes/images_viewer.css' %}">
  <link rel="stylesheet" href="{% static 'css/includes/price_section.css' %}">
  <link rel="stylesheet" href="{% static 'css/includes/feedbacks_section.css' %}">
{% endblock %}

{% block header %}
	{% include "includes/header.html" %}
{% endblock header %}

{% block main %}
  <div class="col-10 col-md-9 col-xl-5 contents">
    <p class="club-name">{{ club.name }}</p>
  
    {% include 'includes/images_viewer.html' %}

    {% include 'includes/price_section.html' %}

    {% include 'includes/club_description_section.html' %}

    {% include 'includes/feedbacks_section.html' %}

    {% include 'includes/booking.html' %}

    {% include 'includes/contact_info_section.html' %}
  </div>

  <script>
    let CLUB_DETAILS_URL = "{% url 'club:club_details' pk %}"
    let EMPTY_STAR_IMG_URL = "{% static 'img/star_empty.png' %}"
    let FULL_STAR_IMG_URL = "{% static 'img/star_full.png' %}"
    let current_rating = 0
  </script>
{% endblock %}
