.commit-booking {
    white-space: nowrap;
    width: fit-content;
    
    background-color: rgb(240, 10, 10);

    outline: none;
    border: none;
    border-radius: 0.8rem;
    padding: .625rem 1.875rem;
    font-weight: 700;
    font-size: 1.125rem;
    box-shadow: 0 0 8px rgba(220, 0, 0, 0.5);

    color: white;
    margin: 0;
    margin-bottom: 1rem;
  }

  .commit-booking:hover {
    box-shadow: 0 2px 10px rgba(220, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
  }

  .free-computers-text {
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif;
    font-weight: 700;

    padding: 0;
    margin: 0;
  }

  .computer-btn {
    margin: 0;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.2rem;
    outline: none;

    border: 0.01rem solid rgb(200, 200, 200);
    border-radius: 0.5rem;

    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
  
    width: 100%;
  }

  .active-computer-btn {
    border: 0.01rem solid rgb(220, 50, 50) !important;
  }

  input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: #333;
    transition: all 0.1s ease-in-out;

    width: 100%;
  }

  input[type="date"]::placeholder {
    color: #aaa;
    font-style: italic;
  }

  input[type="date"]:focus {
    border-color: rgb(200, 10, 10);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }

  input[type="date"]:hover {
    border-color: #aaa;
  }

  .active-time-interval {
    border: 0.01rem solid rgb(220, 50, 50) !important;
  }

  .time-interval {
    margin: 0;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.2rem;
    outline: none;

    border: 0.01rem solid rgb(200, 200, 200);
    border-radius: 0.5rem;

    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;

    width: 100%;
  }

  .booking-btn {
    white-space: nowrap;
    width: fit-content;
    
    background-color: rgb(240, 10, 10);

    outline: none;
    border: none;
    border-radius: 0.8rem;
    padding: .625rem 1.875rem;
    font-weight: 700;
    font-size: 1.125rem;
    box-shadow: 0 0 8px rgba(220, 0, 0, 0.5);

    color: white;
    margin: 0;
    margin-bottom: 1rem;
  }

  .booking-btn:hover {
    box-shadow: 0 2px 10px rgba(220, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
  }
