.description-text {
    font-family: Inter, sans-serif;

    font-weight: 400;
    font-size: calc(0.675rem + 0.4vw);

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
  }