.contact-option {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;

    gap: 1rem;
    white-space: nowrap;
    overflow: hidden;
  }

  .contact-option-icon {
    width: 26px;
    height: 26px;

    padding: 0;
    margin: 0;
  }

  .contact-option-text {
    font-family: Inter, sans-serif;

    font-weight: 400;
    font-size: calc(0.675rem + 0.4vw);
  }